<!DOCTYPE html>
<html>
   <head></head>
   <link rel="stylesheet" type="text/css" href="app\css\annotate.css">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
   <script type="text/javascript" src="lib/js/jquery-3.2.0.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>  
   <script type="text/javascript" src="app.js"></script>
   <script type="text/javascript" src="lib\djaodjin-annotate\djaodjin-annotate.js"></script>
   <body ng-app="myApp" ng-controller="mainCtrl">
      <ul id="list">
         <li>
            <img class="annotate-image-select" ng-repeat="image in imageList" ng-src="{{image.path}}" style="width:50px;height:50px" id="{{image.id}}">
         </li>
      </ul>
      <button id="push" ng-click="pushImage()">Push new image</button>	 
      <button ng-click="saveAnnotation()">Save Annotation</button>
      <!-- <button ng-click="saveImage()">Download Image</button> -->
      <div id="myCanvas">
   </body>
</html>